.div {
  box-shadow: 1px 1px 4px 0px #eeeeee;
  width: 100%;
  height: 45px;
  background: #ffffff;
  display: flex;
  align-items: center;
  justify-content: left;
  h3 {
    margin: 0;
    padding: 0 10px;
  }
}
